@import 'style-vars.scss';

.App {
  height: 100vh;
  width: 100vw;
  // background: $white;
  color: $black;

  display: flex;
  flex-direction: column;

  position: relative;

  // overflow: hidden;

  &__hero-img{
    width: 100%;
  }

  main{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header{
    padding: 24px 16px;
  }

  &__hero-text{
    text-align: center;

    h1{
      padding-top: 32px;
      font-size: 36px;
    }

    p{
      font-size: 18px;
      padding: 24px 16px;

      color: $grey-med;

      line-height: 24px;
    }

  }

  &__btn{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    background-color: $black;
    color: $white;
    border: none;
    padding: 16px 24px;

    border-radius: 16px;
    width: fit-content;
  }

  &__hero-clients{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

    width: 100%;

    padding: 7vh 16px;

    grid-column-gap: 16px;



    // position: absolute;

    // bottom: 10%;
  }

  &__hero-clients > img{
    max-width: 100%;
    max-height: 32px;
  }
}

@media only screen and (min-width: 1008px){
  .App{
    display: flex;

    align-items: center;

    main{
      padding-top: 24px;
      width: 70vw;
      height: 80vh;
      flex-direction: row-reverse !important;
      justify-content: space-between;
    }

    &__hero-text{
      position: relative;
      text-align: left;
      height: 100%;

      width: 560px;      

      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-size: 72px;
        padding: 0;
      }

      p{
        padding: 40px 0;
        max-width: 476px;
      }

      button{
        outline: 2px solid $black;
        transition: 0.3s ease-in-out;

        cursor: pointer;

        &:hover{
          color: $black;
          box-shadow: inset -151px 0 0 0 $white;
          // outline: 2px solid $black;
        }
      }
    }

    &__hero-clients{
      position: absolute;
      bottom: 0px;
      padding: 0;
      // justify-self: flex-end;
    }

    &__hero-img{
      height: 100%;
      object-fit: contain;
    }
  }
}